In [ ]:
# Assignment Task 1
# Import the Songs records data from 
# the Song_records MS Excel File and performing the necessary Data Cleaning process.

### Import all the necessary modules for data analysis

In [ ]:
!pip install pandas_datareader
!pip install openpyxl

In [ ]:
import warnings
warnings.simplefilter("ignore")

# Clears all variable values previously set
from IPython import get_ipython
get_ipython().magic('reset -sf')

In [ ]:
# Provides ways to work with large multidimensional arrays
import numpy as np 
# Allows for further data manipulation and analysis
import pandas as pd

from pandas_datareader import data as web # Reads stock data 
import matplotlib.pyplot as plt # Plotting
import matplotlib.dates as mdates # Styling dates
%matplotlib inline

### Import Song records from the MS Excel for analysis

In [ ]:
# Reading excel file into dataframe
df = pd.read_excel("python_songs_data_v2.xlsx")

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
# Confirming if the dataframe is empty
df.empty

In [ ]:
# Checking the first 10 records of the dataframe
df.head(10)

In [ ]:
# Checking how many records and columns we imported
df.shape

In [ ]:
# Listing all the column headers of our dataframe
print(list(df.columns))

In [ ]:
# Use the info() function to check the data structure of your dataframe
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
# [int8: -128 to 127]; [unint8: 0 to 255]; [int16: -32,768 to 32,767]; [uint16: 0 to 65,537]
# [int32: -2,147,483,648 to-2,147,483,647]; [unint32: 0 to 4,294,967,296]; 
# [int64: -9,223,372,036,854,776 to -9,223,372,036,854,775]; [uint64: 0 to 18,446,744,073,709,551,616]
# [float8, float16, float32, float32, float64] follows similar pattern but no unsigned float [unfloat]

In [ ]:
df.head()

In [ ]:
#Converting all the columns into the appropriate datatype

string_list = ['title', 'artist', 'album']
for header in string_list:
    df[header] =  df[header].astype('string')
    
integer_list = ['song_id', 'year_released']
for header in integer_list:
    df[header] =  df[header].astype('int16')

float_list = ['duration', 'tempo','loudness']
for header in float_list:
    df[header] =  df[header].astype('float16')
    
df.info()

In [ ]:
# Songs with year of release equal to zero are erroneous, using pandas inbuilt function, 
# how many songs have incorrect year of release?

incorrect_yr = (df['year_released'] == 0)

# Count the number of rows where 'year_released' is 0
count_incorrect_yr = df.loc[incorrect_yr, 'year_released'].count()

print("Count of songs with incorrect year_released:", count_incorrect_yr)

In [ ]:
# The loudness of a song must be less than zero. The closer the value is to zero, 
# the louder the song. How many songs have loudness greater than or equal to zero?

incorrect_loudness = (df['loudness'] >= 0)

# Count the number of rows where 'loudness' is >= 0
count_incorrect_loudness = df.loc[incorrect_loudness, 'loudness'].count()

print("Count of songs with incorrect loudness:", count_incorrect_loudness)

In [ ]:
# The tempo of a song cannot be zero, How many songs have a tempo of zero?

incorrect_tempo = (df['tempo'] == 0)

# Count the number of rows where 'tempo' is = 0
count_incorrect_tempo = df.loc[incorrect_tempo, 'tempo'].count()

print("Count of songs with incorrect tempo:", count_incorrect_tempo)

In [ ]:
# Using the panda's drop function, delete all the songs with year = 0

# Check the first five records to be deleted
df[incorrect_yr].head()

In [ ]:
# Deleting the songs with year = 0
df.drop(df[incorrect_yr].index, inplace=True)

# Confirming that no such record exists
df[incorrect_yr].head()

In [ ]:
# 10000 - 5309 = 4691, which is correct
df.shape

In [ ]:
check_incorrect_tempo = (df['tempo'] == 0)

# Count the remaining number of rows where 'tempo' is = 0
count_check_incorrect_tempo = df.loc[check_incorrect_tempo, 'tempo'].count()

count_check_incorrect_tempo

In [ ]:
# Using the panda's drop function, delete all the songs with tempo = 0

df.drop(df[incorrect_tempo].index, inplace=True)

# Confirming that no such record exists
df[incorrect_tempo].head()

In [ ]:
# Using the panda's drop function, delete all the songs with loudness >= 0

df.drop(df[incorrect_loudness].index, inplace=True)

# Confirming that no such record exists
df[incorrect_loudness].head()

In [ ]:
#create a pivot table from dataframe by modifying the below code but using:
# index = 'year_released', values = loudness, aggfunc='mean'

df.pivot_table(index='year_released',values='loudness',  aggfunc='sum')

In [ ]:
# Using matplotlib, draw a line graph of the year against the average loudness
pivot_data = pd.pivot_table(df,index='year_released',values='loudness',  aggfunc='mean')

plt.plot(pivot_data, color='green', marker='*', linestyle='-')
plt.xlabel('Years')
plt.ylabel('Loudness')
plt.title('Songs average loudness over the years')
plt.show()

In [ ]:
# Save the graph as a picture in your folder
loudness_per_year_graph = 'average_loudness_by_year.png'
plt.savefig(loudness_per_year_graph)

In [ ]:
df.shape

In [ ]:
# Save the clean song datafram as an excel file

file_name  = 'cleaned_songs_data_v2.xlsx'
df.to_excel(file_name, index = False)

In [ ]:
## Assignment 2
## The link below contains the Wikipedia list of countries by electricity production
# https://en.wikipedia.org/wiki/List_of_countries_by_electricity_production

In [ ]:
# (a) Use the numpy and pandas modules to read the production by source table 
#     and clean up the data

In [ ]:
CEP = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_electricity_production")
CEP

In [ ]:
CEP = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_electricity_production")[1]
CEP.head()

In [ ]:
CEP.columns = CEP.columns.droplevel()
CEP.head()

In [ ]:
# Rename columns with rename function
CEP = CEP.rename(columns={"Total (TWh)": "Total_(TWh)", "Oil*": "Oil", "Bio.": "Bio", \
                        "Geo.": "Geo"})
CEP.head()

In [ ]:
CEP.shape

In [ ]:
CEP.info()

In [ ]:
# Change data type per column

string_column = ['Location']

for column in string_column:
   CEP[column] =CEP[column].astype ("string")
    
number_columns = ['Coal', 'Gas', 'Hydro', 'Nuclear',
       'Wind', 'Solar', 'Oil', 'Bio', 'Geo']

for column in number_columns:
    CEP[column] = CEP[column].astype ("float32")

CEP.info()

In [ ]:
# Identifying the row with wrong data for cleaning
CEP[61:62]

In [ ]:
CEP ['Total_(TWh)'] = CEP ['Total_(TWh)'].astype (str)
CEP['Total_(TWh)'] = CEP['Total_(TWh)'].str.replace(r"41[2]","41")
CEP[61:62]

In [ ]:
CEP['Total_(TWh)'] =  CEP['Total_(TWh)'].astype('float32')
CEP.info()

In [ ]:
# (b) Do any exploratory analysis on the data and present your results

In [ ]:
CEP.describe().transpose()

In [ ]:
# Checking the number of unique values per column
CEP.nunique()

In [ ]:
# Checking for missing values
CEP.isnull().sum()

In [ ]:
# Creating a copy of cleaned data as best practice
duplicate_data = CEP.copy()
duplicate_data

In [ ]:
duplicate_data = duplicate_data.drop(0)
duplicate_data

In [ ]:
# Sorting data values in 'Coal' column by descending order
duplicate_data.sort_values('Coal', ascending = False)

In [ ]:
# Getting the countries with highest production of electricity
Top_CEP = duplicate_data.nlargest(10, 'Total_(TWh)')
Top_CEP

In [ ]:
# Get the top 5 rows based on the total energy column
Top_CEP = duplicate_data.nlargest(5, 'Total_(TWh)')

# Plotting the bar graphplt.figure(figsize=(10,6))
plt.bar(Top_CEP['Location'], Top_CEP['Total_(TWh)'], color='skyblue')

# Adding labels and title
plt.xlabel('Location')
plt.ylabel('Total (TWh)')
plt.title('Top 5 Locations by Total Energy Consumption')

# Rotating x-axis labels for better visibility
plt.xticks(rotation=45, ha='right')

# Display the plot
plt.tight_layout()
plt.show()

In [ ]:
# Getting the countries with lowest production of electricity
Low_CEP = duplicate_data.nsmallest(10, 'Total_(TWh)')
Low_CEP

In [ ]:
# Get the top 5 rows based on the total energy column
Low_CEP = duplicate_data.nsmallest(5, 'Total_(TWh)')

# Plotting the bar graphplt.figure(figsize=(10,6))
plt.bar(Low_CEP['Location'], Low_CEP['Total_(TWh)'], color='cyan')

# Adding labels and title
plt.xlabel('Location')
plt.ylabel('Total (TWh)')
plt.title('Least 5 Locations by Total Energy Consumption')

# Rotating x-axis labels for better visibility
plt.xticks(rotation=45, ha='right')

# Display the plot
plt.tight_layout()
plt.show()

In [ ]:
duplicate_data.groupby('Location')['Total_(TWh)'].value_counts()

In [ ]:
## Assignment 3

In [ ]:
#Tasks
#1. Create a Database in PostgreSQL named "Airline_Dataset_db"
#2. Create an appropriate table structure named "airline_data_tb" and 
# import the entire data from the "Airline Dataset Updated v2.csv" file
#3 Import the airline table into Python as pandas dataframes.

In [ ]:
# 1st Step: Install the Postgresql module
!pip install psycopg2

In [ ]:
# 2nd Step: Create a variable to mask and store password
import getpass

# Prompt the user for a password
passwd = getpass.getpass('Enter your PostgreSQL database password: ')

In [ ]:
# 3rd Step: Setup and connect to PosgreSQL database import psycopg2 as pgconnect

pg_setup = pgconnect.connect(host='localhost',
                            database='Airline_Dataset_db',
                            user='postgres',
                            #port=5432
                            password=passwd)
# uses default port:5432
print('Python connection to PostgreSQL database was successful!')

In [ ]:
# 4th Step: Write a SQL query to extract the required data
query = '''
SELECT *
FROM airline_data_tb;
'''

In [ ]:
# 5th Step: Executing the sql query using the mysql_engine created
# import the required table as pandas datafram
postgresql_df = pd.read_sql(query,pg_setup)
postgresql_df.head()

In [ ]:
# Step 6: Close the db_setup connections as it is advisable
pg_setup.close()
print('PostgreSQL Database connection close successfully')

In [ ]:
postgresql_df.shape

In [ ]:
postgresql_df.info()

In [ ]:
# List of column names in data original dataframe
print(list(postgresql_df.columns))

In [ ]:
# New dataframe with selected columns for analysis
new_df = postgresql_df.drop(['airport_country_code', 'airport_continent', 'arrival_airport'], axis = 1)
new_df.head()

In [ ]:
new_df.shape

In [ ]:
# Convert age column to int8
new_df['age'] = new_df['age'].astype ('int8')

In [ ]:
# Convert date column to datetime
new_df['departure_date'] = pd.to_datetime(new_df['departure_date'])

In [ ]:
# Convert string columns to string
string_list = ['passenger_id', 'first_name', 'last_name', 'gender', 'nationality', 'airport_name', 
               'country_name', 'continents', 'pilot_name', 'flight_status']

for header in string_list:
    new_df[header] =  new_df[header].astype('string')
    
new_df.info()

In [ ]:
new_df.head()

In [ ]:
# Overview of data
new_df.describe(include='all').transpose()

In [ ]:
# Analysis 1
status_counts = new_df['flight_status'].value_counts()
print(status_counts)

In [ ]:
# Visualizing flight status
status_counts.plot(kind='bar', color='skyblue')
plt.title('Number of flights by status')
plt.xlabel('Flight Status')
plt.ylabel('Count')
plt.show()

In [ ]:
# Extract the year and store it in a new column
new_df['departure_year'] = new_df['departure_date'].dt.year
new_df['departure_year'].nunique()

In [ ]:
new_df['departure_year'].loc[2]

In [ ]:
# Get the unique number of continents
new_df['continents'].nunique()

In [ ]:
# Analysis 2
# Get the unique values in the continents column
unique_continents = new_df['continents'].unique()
print(list(unique_continents))

In [ ]:
# Analysis 3
# Filter for the top 5 canceled flight 
canceled_flights = new_df[new_df['flight_status'] == 'Cancelled']

# Group by airport_name, country_name, and continents, and count the number of canceled flights
canceled_counts = (
    canceled_flights.groupby(['airport_name', 'country_name', 'continents'])
    .size()
    .reset_index(name='cancel_count')
)

# Sort by the count of canceled flights in descending order
top_canceled = canceled_counts.sort_values(by='cancel_count', ascending=False).head(5)

# Display the top 5 airports with the highest canceled flights
print(top_canceled)

In [ ]:
flights_by_pilot = new_df['pilot_name'].value_counts()
print(flights_by_pilot)

In [ ]:
# Analysis 4
# Get the most patronized airport 
# The airport name that appears most frequently.
popular_airport_name = new_df['airport_name'].value_counts().idxmax()

# Filter the DataFrame to get the country name for the most popular airport
popular_airport_row = new_df[new_df['airport_name'] == popular_airport_name].iloc[0]

# Extract the airport name and country name
airport_country = popular_airport_row['country_name']

# Print the result
print(f"Most patronized airport is {popular_airport_name}, in {airport_country}")

In [ ]:
# Analysis 5
# Filter the DataFrame for "On Time" flight status
on_time_flights = new_df[new_df['flight_status'] == "On Time"]

# Find the most popular airport from the filtered DataFrame
popular_airport_name = on_time_flights['airport_name'].value_counts().idxmax()

# Filter the DataFrame to get the country name for the most popular airport
popular_airport_row = on_time_flights[on_time_flights['airport_name'] == popular_airport_name].iloc[0]

# Extract the airport name and country name
popular_airport_country = popular_airport_row['country_name']

# Print the result
print(f"Airport with Maximum On Time Flights is {popular_airport_name}, in {popular_airport_country}")

In [ ]:
# Analysis 6
# Count the number of occurrences for each gender
gender_counts = new_df['gender'].value_counts()

plt.figure(figsize=(5, 6))
plt.pie(gender_counts, labels=gender_counts.index, autopct='%1.1f%%', colors=['skyblue', 'lightpink'], startangle=90)
plt.title('Gender distribution of passengers', fontsize=16)
plt.axis('equal')  # Equal aspect ratio to make the pie chart circular
plt.show()

In [ ]:
average_age_by_gender = new_df.groupby('gender')['age'].mean().astype(int)
print(average_age_by_gender)

In [ ]:

# Define age bins and labels
bins = [0, 18, 45, 60, 100]  # Modify as per your data
labels = ['0-19', '20-45', '46-60', '61+']

# Create a new column 'age_group' in the DataFrame
new_df['age_group'] = pd.cut(new_df['age'], bins=bins, labels=labels, right=False)

# Calculate the distribution of each age group
age_group_counts = new_df['age_group'].value_counts()

# Plot pie chart
age_group_counts.plot(kind='pie', autopct='%1.1f%%', colors=['cyan', 'lightgreen', 'orange', 'yellow'])

# Add title and labels
plt.title('Age distribution of passengers')
plt.ylabel('')  # Hides the ylabel
plt.show()

In [ ]:
"""You are to provide the management of the airline data analysis of the dataset 
and also provide some visual representation, 
 write at least 6 python code blocks/statements to extract the required information """